<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Analyzer</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Basic Form Elements
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="form" method="post">
                                <div class="form-group">
                                    <label>车源信息</label>
                                    <textarea class="form-control" name="input" rows="8">$!input</textarea>
                                </div>

                                <button type="submit" class="btn btn-primary">分析</button>
                                <button type="reset" class="btn btn-info" id="btn_reset">重置</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Basic Form Elements
                </div>
                <div class="panel-body">
                   <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    分析结果
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th width="5%">序号</th>
                                                    <th>车型</th>
                                                    <th width="8%">规格</th>
                                                    <th width="7%">外饰</th>
                                                    <th width="7%">内饰</th>
                                                    <th width="8%">手机</th>
                                                    <th width="8%">价格</th>
                                                    <th width="8%">状态</th>
                                                    <th width="7%">车架号</th>
                                                    <th width="6%">城市</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            #set($i=1)
                                            #foreach($item in $analyzers)
                                                <tr>
                                                    <td>$i</td>
                                                    <td>
                                                    <select class="form-control">
                                                        #foreach($key in $item.carTypeMap.keySet())
                                                            <option value="$key">$item.carTypeMap.get($key)</option>
                                                        #end
                                                    </select>
                                                    </td>
                                                    <td>
                                                        <select class="form-control">
                                                            #foreach($key in $speces.keySet())
                                                                <option value="$key"
                                                                #if($item.spec == $key)
                                                                    selected = "selected"
                                                                #end
                                                                >$speces.get($key)</option>
                                                            #end
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" value="$!item.outColor" size="2">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" value="$!item.inColor" size="1">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" value="$!item.mobile" size="6">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" value="$!item.price" size="1">
                                                    </td>
                                                    <td>
                                                        <select class="form-control">
                                                            <option value="0">无</option>
                                                            <option value="1"
                                                            #if($item.status == 1)
                                                                selected = "selected"
                                                            #end
                                                            >现车</option>
                                                            <option value="2"
                                                            #if($item.status == 2)
                                                                selected = "selected"
                                                            #end
                                                            >打放税</option>
                                                            <option value="3"
                                                            #if($item.status == 3)
                                                                selected = "selected"
                                                            #end
                                                            >期货</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" value="$!item.carFrame" size="1">
                                                    </td>
                                                    <td>$!item.city.cityName</td>
                                                </tr>
                                                #set($i=$i+1)
                                            #end
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                                <button type="button" class="btn btn-primary" id="btn_save" data-loading-text="Loading...">入库</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Custom JS -->
#set($jsUrls=["js/custom/analyzer.js"])