<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Analyzer</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Basic Form Elements
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="form" method="post">
                                <div class="form-group">
                                    <label>内饰颜色</label>
                                    <textarea class="form-control" name="input" rows="15">$!input</textarea>
                                </div>
                                <button type="button" class="btn btn-primary" id="btn_add">保存</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Custom JS -->
#set($jsUrls=["js/custom/incolor.js"])