<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Analyzer</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Basic Form Elements
                </div>
                <div class="panel-body">
                    <div class="row ">
                        <div class="col-lg-6">
                            <form id="ugc_form" method="post">
                                <div class="form-group">
                                    <label>车源信息</label>
                                    <textarea class="form-control" name="ugc" rows="8">$!ugc</textarea>
                                </div>

                                <button type="submit" class="btn btn-primary">Submit Button</button>
                                <button type="reset" class="btn btn-info" id="btn_reset_ugc">Reset Button</button>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <form id="term_form" method="post">
                                <div class="form-group">
                                    <label>车源词汇（一行一个）</label>
                                    <textarea class="form-control" name="terms" rows="8">$!terms</textarea>
                                </div>

                                <button type="button" class="btn btn-primary" id="btn_add_extdic">Submit Button</button>
                                <button type="button" class="btn btn-info" id="btn_reset_extdic">Reset Button</button>
                            </form>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Basic Form Elements
                </div>
                <div class="panel-body">
                   <div class="row">
                        <!-- /.col-lg-12 -->
                        <div class="col-lg-6">
                            <form id="result_form" method="post">
                                <div class="form-group input-group">
                                    <input class="form-control" value="$!car.year">
                                    <span class="input-group-addon">车型年款</span>
                                </div>
                                <div class="form-group input-group">
                                    <input class="form-control" value="$!car.rule">
                                    <span class="input-group-addon">规格</span>
                                </div>
                                <div class="form-group input-group">
                                    <input class="form-control" id="brand" value="$!car.brand">
                                    <span class="input-group-addon">品牌</span>
                                </div>
                                <div class="form-group input-group">

                                    <input class="form-control" value="$!car.price">
                                    <span class="input-group-addon">价格</span>
                                </div>
                                <div class="form-group input-group">
                                    <input class="form-control" value="$!car.sourceStatus">
                                    <span class="input-group-addon">车源状态</span>
                                </div>
                                <div class="form-group input-group">
                                    <input class="form-control" value="$!car.mobile">
                                    <span class="input-group-addon">手机号</span>
                                </div>
                                <div class="form-group input-group">
                                    <input class="form-control" value="$!car.outColor">
                                    <span class="input-group-addon">外观颜色</span>
                                </div>
                                <div class="form-group input-group">
                                    <input class="form-control" value="$!car.inColor">
                                    <span class="input-group-addon">内饰颜色</span>
                                </div>
                                <div class="form-group input-group">
                                    <input class="form-control" value="$!car.carFrame">
                                    <span class="input-group-addon">车架号</span>
                                </div>
                                <div class="form-group input-group">
                                    <textarea class="form-control" rows="5">$!car.remark</textarea>
                                    <span class="input-group-addon">配置信息</span>
                                </div>

                                <button type="submit" class="btn btn-primary">Submit Button</button>
                                <button type="reset" class="btn btn-info" id="btn_reset_result">Reset Button</button>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Basic Table
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Start To End</th>
                                                    <th>Term</th>
                                                    <th>Type</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            #set($i=1)
                                            #foreach($item in $data)
                                                <tr>
                                                    <td>$i</td>
                                                    <td>$item.range</td>
                                                    <td>$item.term</td>
                                                    <td>$item.type</td>
                                                </tr>
                                                #set($i=$i+1)
                                            #end
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->

<!-- Custom JS -->
#set($jsUrls=["js/custom/particle.js"])